<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Styles/bootstrap.min.css" rel="stylesheet" />
    <title>EDA 2 - PW 3</title>
</head>
<body class="vh-100">
    <div class="container d-flex flex-column justify-content-center align-items-center h-100">
        @RenderBody()
        @{Html.RenderPartial("_pv_Footer");}
    </div>
</body>
</html>