<footer class="w-100 text-center d-flex flex-column">
    <span>Lacquaniti Lucas - DNI: 40674891</span>
    <a href="@Url.Action("Index", "Bienvenido")" id="bienvenidoLink">
        Ir a Inicio
    </a>
</footer>

<script type="text/javascript" src="~/Scripts/jquery-3.4.1.min.js"></script>
<script type="text/javascript" src="~/Scripts/jquery.validate.min.js"></script>
<script type="text/javascript" src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
