<footer id="footer">
    <div>
        <span>Lacquaniti Lucas</span>
        <a href="@Url.Action("Index", "Bienvenido")" id="bienvenidoLink">
            Home
        </a>
    </div>
</footer>

<script type="text/javascript" src="~/Scripts/jquery-3.4.1.min.js"></script>
<script type="text/javascript" src="~/Scripts/jquery.validate.min.js"></script>
<script type="text/javascript" src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
