@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section>
    <h1>
        Bienvenido/a a la evaluación de aprendizaje Nro 2
    </h1>
    <div>
        <a href="#">pepe</a>
        <a href="#">pepe</a>
    </div>
</section>

